@font-face {
	font-family: 'Cinzel';
	src: url('fonts/Cinzel-Regular.otf');
}

h1 {
	font-family: 'Cinzel';
}

#programBox {
	float: left;
	width: 667px;
	height: 500px;
	overflow-y: scroll;
	background-color: lightgrey;
}

#programControls {
	float: left;
	margin-left: 25px;
}